@media screen and (max-width:600px)
{

}
@media screen and (min-width:600px)
{
    .followers 
    {
        position: absolute;
        left: 10vw;
        border-right: 2px solid rgb(220, 220, 220);
    }
    .follower {
        top: 0;
        margin-top: 3vh;
        width: 20vw;
        height: 12vh;
        border-radius: 10px;
    }
    .follower img {
        margin-left: 1vw;
        margin-top: 1.5vh;
        display: inline-block;
        width: 9vh;
        height: 9vh;
        border-radius: 50%;
    }
    .follower h1 {
        position: relative;
        top: 1.5vh;
        margin-left: 1.5vw;
        display: inline-block;
        font-size: 25px;
    }
    .follower p {
        margin-left: 7.2vw;
        margin-top: -3vh;
        font-size: 16px;
        color:rgb(170, 170, 170);
    }
    .follower .continue {
        position: absolute;
        margin-top: -5vh;
        right: 20vw;
        width: 25px !important;
        height: 20px;
    }
    .follower:hover {
        background-color: #F8F8F8;
        cursor: pointer;
    }
    .followers hr {
        display: none;
    }
    .followers h2 {
        font-size: 30px;
        margin-left: 2%;
        margin-bottom: 2vh;
    }
    .messages 
    {
        position: absolute;
        left: 30vw;
        width: 40vw;
        min-height: 100%;
        border-right: 2px solid rgb(220, 220, 220);
    }
    .user_message 
    {
        display: inline-block;
        position: relative;
        margin-left: 26vw;
        margin-top: 0vh;
        margin-bottom: 3vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
        background: rgb(0,173,181);
        background: linear-gradient(90deg, rgba(0,173,181,1) 0%, rgba(150,255,230,1) 100%);
    }
    .friend_message 
    {
        display: inline-block;
        position: relative;
        margin-left: 30px;
        margin-top: 0vh;
        margin-bottom: 3vh;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
        background-color: rgb(240, 240, 240);
    }
    .messages h1 
    {
        margin-left: 2vw;
        font-size: 30px;
    }
    .messages hr 
    {
        width: 90%;
        margin-left: 5%;
        margin-top: 2vh;
        margin-bottom: 3vh;
        border: 1px solid rgb(220, 220, 220);
        
    }
    .messages img
    {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 2.5vw;
        margin-bottom: 1vh;
        border-radius: 50%;
    }
    .messages p 
    {
        display: inline-block;
    }
    .inputs 
    {
        margin-left: 2px;
        width: calc(40vw - 4px);
        height: 50px;
        background-color: rgb(240, 240, 240);
        position: fixed;
        bottom: 0;
    }
    .inputs img 
    {
        width: 30px;
        height: 30px;
        border-radius: 0;
        margin-left: 25px;
        margin-top: 10px;
    }
    .inputs input 
    {
        margin-top: 10px;
        margin-left: 1vw;
        width: 65%;
        height: 30px;
    }
    .aside 
    {
        position: absolute;
        right: 7vw;
        width: 20vw;
    }
    .aside_flex1 
    {
        margin-top: 1.5vh;
        display: flex;
        flex-direction: row;
    }
    .aside input 
    {
        margin-top: 0vh;
        background-color: rgb(245, 245, 245);
        width: 75%;
        height: 30px;
        padding: 5px;
    }
    .aside button 
    {
        background-color: black;
        width: 50px;
        height: 30px;
    }
    .aside img 
    {
        width: 25px;
        height: 25px;
        border-radius: 0;
        margin-left: 12.5px;
    }
    .aside h1 
    {
        margin-top: 5vh;
        font-size: 20px;
    }
    .good_call 
    {
        margin-top: 3vh;
        width: 100%;
        height: 80px;
        border-radius: 30px;
        background-color: rgba(150, 255,230, 0.1);
    }
    .bad_call 
    {
        margin-top: 3vh;
        width: 100%;
        height: 80px;
        border-radius: 30px;
        background-color: rgba(255, 150, 150, 0.1);
    }
    .good_call img, .bad_call img 
    {
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
        width: 60px;
        height: 60px;
    }
    .good_call h1, .bad_call h1
    {
        display: inline-block;
        margin-left: 10px;  
    }
    .good_call p, .bad_call p
    {
        display: inline-block;
        margin-left: 10px;  
        font-size: 22px;
    }
}