@media screen and (max-width: 600px){
    .create_post {
        position: absolute;
        left: 10vw;
        top: 15vh;
        width: 80vw;
        height: 75vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .create_post h1 {
        text-align: center;
    }
    .create_post input {
        margin-left: 5%;
        margin-top: 2vh;
        width: 90%;
        height: 40px;
        border-radius: 7.5px;
        background-color: #EEEEEE;
        font-size: 16px;
        padding-left: 10px;
    }
    .create_post button {
        margin-left: 5%;
        margin-top: 5vh;
        width: 90%;
        height: 40px;
        border-radius: 7.5px;
        background-color: rgb(0,173,181) !important;
        background: linear-gradient(90deg, rgba(0,173,181,1) 0%, rgba(150,255,230,1) 100%) !important;
        font-size: 20px;
        padding-left: 10px;
    }
}
@media screen and (min-width: 600px){
    .create_post {
        position: absolute;
        left: 25vw;
        top: 10vh;
        width: 50vw;
        height: 75vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .create_post h1 {
        margin-left: 10%;
    }
    .create_post input, .create_post button {
        margin-left: 10%;
        margin-top: 2vh;
        width: 80%;
        height: 40px;
        border-radius: 7.5px;
        background-color: #EEEEEE;
        font-size: 16px;
        padding-left: 10px;
    }
    .create_post button {
        margin-top: 8vh;
        background-color: rgb(0,173,181) !important;
        background: linear-gradient(90deg, rgba(0,173,181,1) 0%, rgba(150,255,230,1) 100%) !important;
        font-size: 20px;
    }
}
.create_post h1 {
    margin-top: 2vh;
    font-size: 22px;
}