@media screen and (max-width: 600px) {
    .stories {
        position: absolute;
        left: 0vw;
        top: 12.5vh;
        width: 100vw;
        height: 15vh;
        background-color: #F8F8F8;
    }
    .feed {
        position: absolute;
        left: 0vw;
        top: 27vh;
        width: 100vw;
    }
    .aside {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    .stories {
        position: absolute;
        left:11vw;
        top: 15vh;
        width: 84vw;
        height: 17vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .feed {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 32vh;
        left: 11vw;
        width: 55vw;
        height: 60vh;
    }
    .aside {
        position: absolute;
        top: 35vh;
        right: 4vw;
        width: 26vw;
        height: 60vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .aside_image {
        width: 80%;
        margin-left: 10%;
        margin-top: 2rem;
        border-radius: 10px;
        cursor: pointer;
    }
}
.stories {
    overflow-x: scroll;
    white-space: nowrap;
}