@media screen and (max-width: 600px) {
    .stories {
        position: absolute;
        left: 0vw;
        top: 12.5vh;
        width: 100vw;
        height: 12.5vh;
        background-color: #F8F8F8;
    }
    .feed {
        position: absolute;
        left: 0vw;
        top: 25vh;
        width: 100vw;
    }
}
@media screen and (min-width: 600px) {
    .stories {
        position: absolute;
        left:11vw;
        top: 15vh;
        width: 84vw;
        height: 15vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .feed {
        position: absolute;
        top: 35vh;
        left: 11vw;
        width: 55vw;
        height: 60vh;
    }
}