@media screen and (max-width: 600px)
{
    .stories 
    {
        margin-top: 15vh;
        margin-left: 5vw;
        width: 90vw;
        height: 16vh;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }
    .filter 
    {
        margin-top: 3vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .filter button 
    {
        margin-left: 1vw;
        margin-right: 1vw;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: var(--color2) !important;
    }
}
@media screen and (min-width: 600px)
{
    .stories 
    {
        position: relative;
        left: 11vw;
        top: 5vh;
    }
    .filter 
    {
        position: relative;
        left: 11vw;
        top: 10vh;
    }
    .filter button 
    {
        margin-left: 3vw !important;
        margin-right: -1vw !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        width: 7vw !important;
        background-color: var(--color2) !important;
    }
    .filter button:hover 
    {
        background-color: var(--color3) !important;
        color: var(--color1) !important;
    }
    .feed 
    {
        position: relative;
        left: 11vw;
        top: 12vh;
    }
}
.container
{
    position: relative;
    display: flex;
    flex-direction: column;
}
.home 
{
    position: relative;
    background-color: var(--color1) !important;
    display: flex;
    flex-direction: column;
    overflow: visible;
}