@media screen and (max-width: 600px){
    .daily {
        position: absolute;
        margin-left: 5vw;
        top: 12.5vh;
        width: 90vw;
        height: 25vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .daily h1 {
        padding-top: 1vh;
        padding-left: 5vw;
        font-size: 16px;
    }
    .daily button {
        position: absolute;
        left: 5vw;
        width: 30vw;
        height: 5vh;
        background-color: #E5E5E5;
        border-radius: 10px;
        text-align: left;
    }
    .daily .info {
        left: 45%;
    }
    .daily button img {
        display: inline-block;
        margin-left: 2vw;
        margin-top: -0.75vh;
        width: 20px;
    }
    .daily button p {
        position: relative;
        margin-left: 3vw;
        top: -0.2vh;
        display: inline-block;
        font-size: 14px;
    }
}
@media screen and (min-width: 350px){
    .daily button {
        position: absolute;
        bottom: 1vh;
        left: 5%;
        width: 35%;
    }
}
@media screen and (min-width: 600px){
    .daily {
        position: absolute;
        margin-left: 11vw;
        top: 15vh;
        width: 30vw;
        height: 20vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .daily h1 {
        padding-top: 1vh;
        padding-left: 1vw;
        font-size: 18px;
    }
    .daily button {
        margin-left: 1vw;
        margin-top: 4.5vh;
        width: 30%;
        height: 4.5vh;
        background-color: #E5E5E5;
        border-radius: 10px;
        text-align: left;
    }
    .daily button p {
        display: inline-block;
        position: absolute;
        margin-left: 0.75vw;
        margin-top: -0.2vh;
        width: 70%;
        font-size: 16px;
    }
    .daily button img {
        display: inline-block;
        margin-left: 0.5vw;
        margin-top: -0.75vh;
        width: 3vh;
    }
}