@media screen and (max-width: 600px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
    .profile .image {
        margin-left: 30vw;
        margin-top: 12.5vh;
        margin-bottom: 3vh;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
    }
    .info h1 {
        text-align: center;
    }
    .status1 {
        display: inline-block;
        width: 45%;
        text-align: right !important;
        padding-right: 1vw;
        font-size: 20px;
        color: #00ADB5;
    }
    .status2 {
        display: inline-block;
        width: 55%;
        color: #00ADB5;
        font-size: 16px;
        text-align: left !important;
        padding-left: 1vw;
    }
    .profile hr {
        width: 90vw;
        margin-left: 5vw;
        margin-top: 2vh;
    }
    .info2 p {
        margin-left: 5%;
        margin-top: 2vh;
        width: 90%;
        text-align: justify;
    }
    .info2 button {
        margin-left: 6.5vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
        width: 40%;
        height: 6vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .info2 button img {
        display: inline-block;
        margin-right: 3vw;
    }
    .info2 h2 {
        margin-left: 5vw;
        margin-bottom: 2vh;
        width: 90vw;
        font-size: 18px;
    }
    .info2 h2 img {
        display: inline-block;
        margin-right: 3vw;
        width: 25px;
    }
    .logout {
        position: absolute;
        right: 5vw;
        top: 20vh;
        width: 15vw;
        height: 5vh;
        border-radius: 7.5px;
        text-align: center;
        font-size: 14px;
        background-color: #F8F8F8;
        color: red;
    }
    .follower {
        margin-left: 5vw;
        width: 90vw;
        height: 10vh;
        background-color:white;
    }
    .follower img {
        margin-left: 3vw;
        margin-top: 1.5vh;
        display: inline-block;
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
    }
    .follower h1 {
        margin-left: 5vw;
        display: inline-block;
        font-size: 20px;
    }
    .follower p {
        margin-left: 23vw;
        margin-top: -3vh;
        font-size: 16px;
        color:rgb(170, 170, 170);
    }
    .follower .continue {
        position: absolute;
        margin-top: -5vh;
        right: 10vw;
        width: 25px !important;
        height: 20px;
    }
    .followers h2, .posts h2 {
        margin-left: 5%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 21px !important;
    }
    .post {
        margin-left: 5%;
        margin-bottom: 3vh;
        width: 90%;
        height: 42vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .post img {
        margin-left: 5%;
        margin-top: 2vh;
        width: 90%;
        max-height: 200px !important;
    }
    .post h1 {
        padding-left: 5%;
        padding-top: 1vh;
    }
    .posts .button_bg {
        display: inline-block;
        position:relative;
        left: 13.7%;
        top: 0.5vh;
        width: 35px;
        height: 35px;
        background-color: #00ADB5;
        border-radius: 50%;
    }
    .posts h2 {
        display: inline-block !important;
        width: 60% !important;
    }
    .create_post {
        display: inline-block;
        width: 30%;
        height: 4vh;
        background-color: #F8F8F8;
        border-radius: 5px;
    }
}
@media screen and (min-width: 600px) {
    .profile {
        display: flex;
    }
    .left {
        position: fixed;
    }
    .left .image {
        position: relative;
        left: 11vw;
        top: 16.5vh;
        width: 120px !important;
        height: 120px;
        border-radius: 50%;
    }
    .info h1 {
        margin-bottom: 0vh !important;
        margin-left: 5%;
        width: 90%;
        text-align: left;
    }
    .status1 {
        display: inline-block;
        width: 1vw !important;
        text-align: right !important;
        padding-right: 1vw;
        font-size: 20px;
        color: #00ADB5;
    }
    .status2 {
        display: inline-block;
        width: 10vw !important;
        color: #00ADB5;
        font-size: 16px;
        text-align: left !important;
        padding-left: 0vw;
        margin-left: 0vw !important;
    }
    .info {
        position: absolute;
        left: calc(11vw + 120px);
        top: 15vh;
        padding-top: 3vh;
        width: calc(31vw - 120px);
        height: 20vh;
        border-right: 2px solid rgb(230, 230, 230);
    }
    .info2 {
        position: absolute;
        left: 11vw;
        top: calc(15vh + 120px);
        padding-top: 3vh;
        width: 31vw;
        height: 60vh;
        border-right: 2px solid rgb(230, 230, 230);
    }
    .profile hr {
        width: 100%;
        margin-left: 0vw;
        margin-top: 0vh;
        margin-bottom: 2vh;
        border: 0.1px solid rgb(230, 230, 230);
    }
    .info2 p {
        margin-top: 2vh;
        width: 90%;
        text-align: justify;
    }
    .info2 button {
        margin-right: 10%;
        margin-top: 3vh;
        margin-bottom: 3vh;
        width: 40%;
        height: 6vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .info2 button img {
        display: inline-block;
        margin-right: 0.5vw;
    }
    .info2 h2 {
        margin-left: 0vw;
        margin-bottom: 2vh;
        width: 90vw;
        font-size: 18px;
    }
    .info2 h2 img {
        display: inline-block;
        margin-right: 1vw;
        width: 25px;
    }
    .logout {
        position: fixed;
        left: 33vw;
        top: 15vh;
        width: 4vw;
        height: 5vh;
        border-radius: 7.5px;
        text-align: center;
        font-size: 14px;
        background-color: #F8F8F8;
        color: red;
        z-index: 3;
    }
    .followers, .posts {
        position: absolute;
        left: 45vw;
        top: 15vh;
        width: 52vw;
        height: 55vh;
        border-radius: 10px;
    }
    .followers {
        overflow-y: scroll;
    }
    .posts {
        top: 75vh;
    }
    .follower {
        top: 0;
        margin-top: 0;
        width: 35vw;
        height: 10vh;
        border-radius: 10px;
    }
    .follower img {
        margin-left: 1vw;
        margin-top: 1.5vh;
        display: inline-block;
        width: 7vh;
        height: 7vh;
        border-radius: 50%;
    }
    .follower h1 {
        margin-left: 3vw;
        display: inline-block;
        font-size: 20px;
    }
    .follower p {
        margin-left: 7.2vw;
        margin-top: -3vh;
        font-size: 16px;
        color:rgb(170, 170, 170);
    }
    .follower .continue {
        position: absolute;
        margin-top: -5vh;
        right: 20vw;
        width: 25px !important;
        height: 20px;
    }
    .follower:hover {
        background-color: #F8F8F8;
        cursor: pointer;
    }
    .followers hr {
        display: none;
    }
    .followers h2 {
        font-size: 20px;
        margin-left: 2%;
        margin-bottom: 2vh;
    }
    .posts h2 {
        margin-left: 2%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        font-size: 23px;
    }
    .post {
        margin-left: 2%;
        margin-bottom: 5vh;
        width: 60%;
        height: 51vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .post img {
        margin-left: 5%;
        margin-top: 2vh;
        width: 90%;
    }
    .post h1 {
        padding-left: 5%;
        padding-top: 1vh;
    }
    .posts .button_bg {
        display: inline-block;
        position:relative;
        left: 10.25%;
        top: 0.5vh;
        width: 35px;
        height: 35px;
        background-color: #00ADB5;
        border-radius: 50%;
    }
    .posts h2 {
        display: inline-block !important;
        width: 80% !important;
    }
    .create_post {
        display: inline-block;
        width: 15%;
        height: 4vh;
        background-color: #F8F8F8;
        border-radius: 5px;
    }
}
.post img {
    position: relative;
    cursor: pointer;
    z-index: 3;
}