@media screen and (max-width: 600px){
    .problemset 
    {
        display: flex;
        flex-direction: column;
    }
    .problemset h1 
    {
        display: inline-block;
        position: relative;
        margin-top: 15vh;
        left: 10vw;
        padding: 10px;
        font-size: 7vw;
        font-weight: 700;
        width: 80vw;
        border-bottom: 4px solid var(--color4);
        text-align: center;
    }
    .row1, .row2, .row3, .row4
    {
        display: flex;
        flex-direction: row;
    }
    .row2 
    {
        padding-left: 10vw;
        padding-top: 8vh;
    }
    .box 
    {
        margin-bottom: 3vh;
        width: 80vw;
        display: inline-block;
        position: relative;
        padding: 10px;
        border: 1px solid var(--color4);
    }
    .box h2 
    {
        margin-bottom: 3vh;
        font-size: 4vw;
        font-weight: 600;
        text-align: center;
        font-size: 5vw;
    }
    .box p 
    {
        font-size: 3.5vw;
        font-weight: 500;
    }
    .box button 
    {
        position: absolute;
        width: 15vw;
        right: 3vw;
        bottom: 1vh;
        background-color: var(--color2);
        padding: 5px;
        font-size: 3.5vw;
        font-weight: 500;
    }
    .box img 
    {
        display: inline-block;
        margin-right: 1vw;
        margin-top: -0.5vh;
        width: 40px;
    }
    .row3 
    {
        padding-left: 10vw;
        padding-top: 5vh;
    }
    .row2 p, .row3 p 
    {
        font-size: 22px;
        font-weight: 500;
    }
    .row2 button, .row3 button 
    {
        margin-left: 4vw;
        margin-top: 1vh;
        width: 15vw;
        background-color: var(--color2);
        padding: 1vw;
        font-size: 3.5vw;
        font-weight: 500;
    }
    .row3 .gap 
    {
        width: 52vw;
    }
    .row4 
    {
        padding-left: 10vw;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
    }
    .row4 .box 
    {
        margin-bottom: 4vh;
        width: 80vw;
        height: 8.5vh;
        display: flex;
        flex-direction: row;
    }
    .row4 h2  
    {
        padding-left: 1vw;
        padding-top: 1vh;
        margin-right: 8vw;
        display: inline-block;
    }
    .row4 .gap 
    {
        display: inline-block;
        width: 24vw;
        height: 1vh;
    }
    .row23, .row34
    {
        padding-left: 10vw;
        padding-top: 4vh;
        display: flex;
        flex-direction: column;
    }
    .row23 .box 
    {
        width: 80vw;
        min-height: 17vh;
        margin-bottom: 3vh;
    }
    .row23 button 
    {
        right: calc(50% - 15vw);
        width: 30vw;
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 600px){
    .problemset 
    {
        display: flex;
        flex-direction: column;
    }
    .problemset h1 
    {
        display: inline-block;
        position: relative;
        top: 3vh;
        left: 10vw;
        padding: 10px;
        font-size: 35px;
        font-weight: 700;
        border-bottom: 4px solid var(--color4);
    }
    .row1, .row2, .row3, .row4
    {
        display: flex;
        flex-direction: row;
    }
    .row2 
    {
        padding-left: 10vw;
        padding-top: 8vh;
    }
    .box 
    {
        margin-right: 2.5vw;
        width: 25vw;
        display: inline-block;
        position: relative;
        padding: 10px;
        border: 1px solid var(--color4);
    }
    .box h2 
    {
        margin-bottom: 3vh;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }
    .box p 
    {
        font-size: 17px;
        font-weight: 500;
    }
    .box button 
    {
        position: absolute;
        width: 5vw;
        right: 1vw;
        bottom: 1.5vh;
        background-color: var(--color2);
        padding: 5px;
        font-size: 17px;
        font-weight: 500;
    }
    .box img 
    {
        display: inline-block;
        margin-right: 1vw;
        margin-top: -0.5vh;
        width: 40px;
    }
    .row3 
    {
        padding-left: 10vw;
        padding-top: 5vh;
    }
    .row2 p, .row3 p 
    {
        font-size: 22px;
        font-weight: 500;
    }
    .row2 button, .row3 button 
    {
        margin-left: 1vw;
        width: 5vw;
        right: 1vw;
        background-color: var(--color2);
        padding: 5px;
        font-size: 17px;
        font-weight: 500;
    }
    .row3 .gap 
    {
        width: 52vw;
    }
    .row4 
    {
        padding-left: 10vw;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
    }
    .row4 .box 
    {
        margin-bottom: 4vh;
        width: 80vw;
        height: 8.5vh;
        display: flex;
        flex-direction: row;
    }
    .row4 h2  
    {
        padding-left: 1vw;
        padding-top: 1vh;
        margin-right: 8vw;
        display: inline-block;
    }
    .row4 .gap 
    {
        display: inline-block;
        width: 24vw;
        height: 1vh;
    }
    .row23, .row34
    {
        padding-left: 10vw;
        padding-top: 4vh;
    }
    .row23 .box 
    {
        min-height: 17vh;
    }
    .row23 button 
    {
        right: calc(50% - 5vw);
        width: 10vw;
    }
}
.grid {
    margin-left: 1vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 1.6vh;
    height: 1.6vh;
    margin: 2px;
    border-radius: 20%;
    cursor: pointer;
  }
  
  .cell.teal {
    background-color: #00ADB5;
  }
  
  .cell.orange {
    background-color: #FFBB70;
  }