@media screen and (max-width: 600px){

}
@media screen and (min-width: 600px){
    .container {
        position: absolute;
        top: 65vh;
        left: 25vw;
        width: 50vw;
        height: 25vh;
        border-radius: 7.5px;
        box-shadow: 3px 3px 3px 3px rgb(200, 200, 200);
    }
}