@media screen and (max-width: 600px) {
    .top_container {
        position: absolute;
        top: 17vh;
        left: 0;
        width: 100vw;
        height: 15vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
}
@media screen and (min-width: 600px) {
    .container {
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 100vh;
    }
    .top_container {
        position: absolute;
        top: 15vh;
        left: 11vw;
        width: 83vw;
        height: 15vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .feed_container {
        position: absolute;
        top: 35vh;
        left: 11vw;
        width: 55vw;
        height: 60vh;
    }
    .aside_container {
        position: absolute;
        top: 35vh;
        right: 6vw;
        width: 26vw;
        height: 60vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .aside_image {
        width: 80%;
        margin-left: 10%;
        margin-top: 2rem;
        border-radius: 10px;
        cursor: pointer;
    }
}