@media screen and (max-width: 600px) {
    .container {

    }
}
@media screen and (min-width: 600px) {
    .container {
        position: absolute;
        top: 0vh;
        width: 6vw;
        height: 100vh;
        border-right: 2px solid rgb(200, 200, 200);
    }
    .button {
        display: inline-block;
        margin-left: 15%;
        margin-top: 2vh;
        width: 70%;
        height: 3.5rem;
        padding-top: 0.5rem;
        padding-bottom: 15px;
        font-size: 22px;
        font-weight: 600;
        border-radius: 50%;
        text-align: center;
    }
    .button:hover {
        background: rgb(0,173,181);
        background: linear-gradient(90deg, rgba(0,173,181,1) 0%, rgba(150,255,230,1) 100%);
    }
    .button img {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .toggle 
    {
        position: absolute;
        top: 50%;
        left: 19vw;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
    }
    .theme 
    {
        position: absolute;
        bottom: 1rem;
    }
}
