@media screen and (max-width: 600px) {
    .container {

    }
}
@media screen and (min-width: 600px) {
    .container {
        position: absolute;
        top: 10vh;
        width: 20vw;
        height: 90vh;
        border-right: 2px solid rgb(200, 200, 200);
    }
    .button {
        display: inline-block;
        margin-left: 10%;
        margin-top: 2vh;
        width: 80%;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 22px;
        font-weight: 600;
        border-radius: 7.5px;
        text-align: left;;
    }
    .button:hover {
        background-color: rgba(100, 200, 255, 0.3)
    }
    .button img {
        position: relative;
        top: -2px;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .toggle 
    {
        position: absolute;
        top: 50%;
        left: 19vw;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white;
    }
}