@media screen and (max-width: 600px) {
    .daily {
      position: absolute;
      top: 20vh;
      margin-left: 5vw;
      width: 90vw;
      height: 40vh;
      background-color: #F8F8F8;
      border-radius: 10px;
    }
    .daily h1, .daily p {
      width: 95%;
      font-size: 13px;
    }
    .daily p {
      margin-left: 5%;
      margin-top: 0vh !important;
      float: left !important;
      text-align: left !important;
    }
    .daily img {
      margin-left: 2vw;
      width: 20px !important;
    }
    .daily button {
      position: absolute;
      left: 5%;
      top: 32vh;
      width: 45%;
      height: 5.5vh;
      background-color: #E5E5E5;
      border-radius: 10px;
    }
    .calendar {
      position: absolute;
      top: 63vh;
      margin-left: 5vw;
      width: 90vw;
      height: 40vh;
      background-color: #F8F8F8;
      border-radius: 10px;
    }
    .calendar h1 {
      font-size: 15px;
    }
    .calendar .grid {
      margin-left: 5%;
    }
    .calendar .cell {
      width: 15px;
      height: 15px;
    }
    .graph {
      display: none;
    }
    .filter {
      position: absolute;
      top: 104vh;
      margin-left: 5vw;
      width: 90vw;
      height: 40vh;
    }
    .filter h1 {
      font-size: 15px;
    }
    .filter button, .filter input {
      margin-left: 2%;
      margin-top: 2.3vh;
      width: 31%;
      height: 15%;
      background-color: #F5F5F5;
      border-radius: 10px;
      text-align: center;
      font-size: 12px;
    }
    .filter span {
      padding-right: 5vw !important;
    }
    .filter input {
      width: 90%;
      padding-left: 50px;
    }
    .filter img {
      width: 20px;
      left: 6vw;
      top: 9.5vh !important;
    }
    .problems {
      position: absolute;
      top: 136vh;
      width: 100vw;
    }
    .problems div {
      left: 5vw;
      width: 90vw !important;
    }
}
@media screen and (min-width: 600px) {
    .daily, .calendar, .graph {
        position: absolute;
        left: 11vw;
        top: 15vh;
        width: 44vw;
        height: 25vh;
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    .calendar {
        left: 58vw;
        width: 18vw;
    }
    .graph {
      left: 80vw;
      width: 14vw;
    }
    .tags {
        margin-left: 1rem;
        margin-top: 7.5vh;
        padding: 5px;
        padding-right: 20px;
        background-color: #E5E5E5;
        text-align: center;
        border-radius: 10px;
    }
    .filter, .problems {
      position: absolute;
      left: 11vw;
      top: 45vh;
      width: 23vw;
      height: 50vh;
      border-radius: 10px;
    }
    .problems {
      left: 34vw;
    }
    .filter button, .filter input {
      margin-left: 5%;
      margin-top: 2.3vh;
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 80%;
      height: 15%;
      background-color: #F5F5F5;
      border-radius: 10px;
      text-align: left;
      font-size: 18px;
    }
    .filter input {
      padding-left: 50px;
    }
}
.grid {
    margin-left: 1vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 1.6vh;
    height: 1.6vh;
    margin: 2px;
    border-radius: 20%;
    cursor: pointer;
  }
  
  .cell.teal {
    background-color: #00ADB5;
  }
  
  .cell.orange {
    background-color: #FFBB70;
  }