@media screen and (max-width: 600px) {
    
}
@media screen and (min-width: 600px) {
    .daily {
        position: absolute;
        left: 11vw;
        top: 15vh;
        width: 44vw;
        height: 25vh;
        background-color: #F5F5F5;
        border-radius: 10px;
    }
    .tags {
        margin-left: 1rem;
        margin-top: 7.5vh;
        padding: 5px;
        padding-right: 20px;
        background-color: #E5E5E5;
        text-align: center;
        border-radius: 10px;
    }
}