@media screen and (max-width: 600px) {
    .container 
    {
        width: 100vw;
        height: 100vh;;
        background-color: rgb(245, 245, 245);
    }
    .card2 
    {
        position: absolute;
        left: 7.5vw;
        top: 10vh;
        width:85vw;
        height:65vh;
        background-color: rgb(255, 255, 255);
        border: 8px solid rgb(230, 230, 230);
        border-radius: 30px;
    }
    .card2 p 
    {
        margin-left: 10%;
        margin-top: 1%;
        font-size: 25px;
    }
    .card2 .input 
    {
        margin-left: 10%;
        margin-top: 2vh;
        width: 80%;
        height: 35px;
        background-color: rgb(245, 245, 245);
        font-size: 20px;
        padding-left: 20px;
    }
    .card2 .special 
    {
        color: rgb(180, 180, 180);
        font-size: 15px;
        width: auto;
        display: inline-block;
        margin-top: 2vh;
    }
    .card2 button 
    {
        position: absolute;
        left: 35%;
        top: 75%;
        width: 25vw !important;
        height: 25vw;
        border-radius: 50% !important;
        font-size: 20px !important;
        background-color: rgb(245, 245, 245);
    }
    .card2 button:hover 
    {
        background: rgb(0,173,181);
        background: linear-gradient(90deg, rgba(0,173,181,1) 0%, rgba(150,255,230,1) 100%);
    }
    .card2 .loader 
    {
        position: absolute;
        right: 8.5vw;
        top: 17vh;
        z-index: 3;
    }
}
@media screen and (min-width: 600px) {
    .container 
    {
        width: 100vw;
        height: 100vh;;
        background-color: rgb(245, 245, 245);
    }
    .card2 
    {
        position: absolute;
        left: 7.5vw;
        top: 10vh;
        width:85vw;
        height:60vh;
        background-color: rgb(255, 255, 255);
        border: 8px solid rgb(230, 230, 230);
        border-radius: 30px;
    }
    .card2 p 
    {
        margin-left: 10%;
        margin-top: 1%;
        font-size: 30px;
    }
    .card2 .input 
    {
        margin-left: 10%;
        margin-top: 2vh;
        width: 50%;
        height: 55px;
        background-color: rgb(245, 245, 245);
        font-size: 20px;
        padding-left: 20px;
    }
    .card2 .special 
    {
        color: rgb(180, 180, 180);
        font-size: 30px;
        width: auto;
        display: inline-block;
    }
    .card2 button 
    {
        position: absolute;
        right: 10%;
        top: 35%;
        width: 10vw !important;
        height: 10vw;
        border-radius: 50% !important;
        font-size: 25px !important;
        background-color: rgb(245, 245, 245);
    }
    .card2 button:hover 
    {
        background: rgb(0,173,181);
        background: linear-gradient(90deg, rgba(0,173,181,1) 0%, rgba(150,255,230,1) 100%);
    }
    .card2 .loader 
    {
        position: absolute;
        right: 8.5vw;
        top: 17vh;
        z-index: 3;
    }
}