@media screen and (max-width: 600px) {
    .container {
        height: 200vh;
    }
    .chapters_container {
        position: relative;
        top: 16vh;
        height: 70vh;
    }
    .chapters_container h1 {
        font-size: 18px;
    }
    .chapters_container p {
        font-size: 15px;
    }
    .current_chapter, .next_chapter {
        margin-left: 5vw;
        margin-top: 2vh;
        padding-bottom: 15px;
        width: 90vw;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .next_chapter {
        margin-top: 2vh;
    }
    .chapters_container h6 {
        position: relative !important;
        top: 0 !important;
        left: 0;
        margin-left: 0;
        margin-top: 1vh !important;
        width: 100vw;
        text-align: center;
    }
    .chapters_container img {
        position: relative !important;
        top: 0 !important;
        left: 0;
        margin-left: calc(50vw - 15px) !important;
        margin-top: 1vh !important;
    }
    .content {
        position: relative;
        top: 0 !important;
        left: 5vw;
        width: 90vw;
        height: 100vh;
        background-color: #F8F8F8;
        border-radius: 10px;
        font-family: "Source Code Pro", monospace;
        overflow-y: scroll;
    }
    .content h1 {
        font-size: 18px !important;
    }
    .content p {
        font-size: 13px !important;
    }
    .IDEcontainer {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    .container {
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 100vh;
    }
    .chapters_container {
        position: absolute;
        top: 15vh;
        left: 11vw;
    }
    .current_chapter, .next_chapter {
        position: relative;
        display: inline-block;
        width: 19vw;
        height: 19vh;
        background-color: #F8F8F8;
        border-radius: 10px;
    }
    .next_chapter {
        margin-left: 12vw;
        top: 0.5vh;
    }
    .content {
        position: absolute;
        top: 39vh;
        left: 11vw;
        width: 50vw;
        height: 55vh;
        background-color: #F8F8F8;
        border-radius: 10px;
        font-family: "Source Code Pro", monospace;
        overflow-y: scroll;
    }
}
.content h1 {
    font-size: 25px;
    font-weight: 600;
}
.content h1, .content p {
    width: 85%;
    margin-left: 3vw;
    margin-top: 2vh;
}
.content p {
    text-align: justify;
}