@media screen and (max-width: 600px) {
    .container {

    }
}
@media screen and (min-width: 600px) {
    .container {
        position: absolute;
        left:5vw;
        width: 95vw;
        height: 10vh;
    }
    .welcome {
        position: absolute;
        left: 6vw;
        top: 3vh;
        font-size: 34px;
    }
    .input {
        position: absolute;
        left: 50vw;
        top: 4vh;
        width: 22%;
        height: 3rem;
        background-color: #F5F5F5;
        border-radius:10px;
    }
    .search {
        position: absolute;
        left: 51vw;
        top: 5vh;
    }
    .search2 {
        position: absolute;
        left: calc(52vw + 35px);
        top: 5vh;
        font-size: 20px;
        font-weight: 700;
    }
    .actions {
        position: absolute;
        left: 72vw;
        top: 4vh;
    }
    .image {
        display: inline-block;
        position: relative;
        margin-left: 3vw;
        margin-top: 0.5rem;
        cursor: pointer;
    }
}