@media screen and (max-width: 600px) {
    .container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 20vh;
    }
    .welcome, .input .search, .search2, .actions, .image {
        display: inline-block;
        position: relative;
    }
    .welcome {
        width: 100vw;
        font-size: 25px;
        text-align: center;
    }
    .input {
        margin-left: 10vw;
        margin-top: 2vh;
        width: 60vw;
        height: 5vh;
        background-color: #F5F5F5;
        border-radius:10px;
    }
    .search {
        position: absolute;
        left: 12vw;
        top: 57px;
        width: 25px;
    }
    .search2 {
        position: absolute;
        left: 22vw;
        top: 57px;
        width: 25px;
    }
    .actions {
        width: 30vw;
    }
    .notifications {
        display: none;
    }
    .settings {
        display: none;
    }
    .image {
        position: absolute;
        top: -37px !important;
        left: 0;
    }
}
@media screen and (min-width: 600px) {
    .container {
        position: absolute;
        left:5vw;
        width: 95vw;
        height: 10vh;
    }
    .welcome {
        position: absolute;
        left: 6vw;
        top: 3vh;
        font-size: 34px;
    }
    .input {
        position: absolute;
        left: 50vw;
        top: 4vh;
        width: 22%;
        height: 3rem;
        background-color: #F5F5F5;
        border-radius:10px;
    }
    .search {
        position: absolute;
        left: 51vw;
        top: 5vh;
    }
    .search2 {
        position: absolute;
        left: calc(52vw + 35px);
        top: 5vh;
        font-size: 20px;
        font-weight: 700;
    }
    .actions {
        position: absolute;
        left: 72vw;
        top: 4vh;
    }
    .image {
        display: inline-block;
        position: relative;
        margin-left: 3vw;
        margin-top: 0.5rem;
        cursor: pointer;
    }
}