.profile_image_container 
{

}
@media screen and (min-width: 600px)
{
    .profile_image_container {
        position: absolute;
        top: 15vh;
        left: 25vw;
        width: 50vw;
        height: 30vh;
        border-radius: 7.5px;
        box-shadow: 3px 3px 3px 3px rgb(200, 200, 200);
    }
    .profile_title {
        padding-left: 30px;
        padding-top: 10px;
        font-size: 30px;
    }
    .profile_info {
        padding-left: 30px;
        padding-top: 10px;
        font-size: 18px;
        color: rgb(120, 120, 120);
    }
    .profile_image {
        position: absolute;
        right: 10%;
        top:25%;
        width: 110px;
        height: 110px;
        padding-top: 5px;
        font-size: 60px;
        background-color: rgba(100, 200, 255, 0.3);
        border-radius: 50%;
        text-align: center;
    }
    nav {
        position: absolute;
        top: 35vh;
        left: 0vw;
        width: 50vw;
        height: 10vh;
        border-radius: 7.5px;
        box-shadow: 3px 3px 3px 3px rgb(200, 200, 200);
    }
    nav button {
        margin-left: 1vw;
        margin-top: 1.5vh;
        width: 160px;
        height: 50px;
        font-size:20px;
        border-radius: 7.5px;
        text-align: center;
    }
    nav button:hover {
        background-color: rgba(100, 200, 255, 0.3);
    }
    nav button img {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: -5px;
    }
    .background {
        position: absolute;
        right: -12vw;
        top: 0vh;
        width: 10vw;
        height: 45vh;
        border-radius: 30px;
        background: rgb(100,200,255);
background: linear-gradient(120deg, rgba(100,200,255,0.5) 0%, rgba(50,100,150,0.5) 50%, rgba(50,150,200,0.5) 100%);
    }
    .actions {
        position: absolute;
        right: -12vw;
        top: 0vh;
        width: 10vw;
        height: 45vh;
        border-radius: 30px;
    }
    svg {
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;
    }
    .edit {
        display: inline-block;
        width: 150px;
        height: 60px;
        margin-left: 5px;
        background-color: rgba(100, 200, 255, 1);
        color: white;
        border-radius: 10px;
        font-size: 18px;
    }
}