#landing-container 
{
    width: 100vw;
    height: 100vh;
    background: rgb(255,200,200);
    background: linear-gradient(180deg, rgba(255,200,200,1) 0%, rgba(200,200,255,1) 100%);
}
#landing-title 
{
    position: absolute;
    left: 5vw;
    top: 2vh;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    text-align: center;
    border-radius:20px;
    cursor: pointer;
}
#landing-menu 
{
    position: absolute;
    right: calc(5vw - 5px);
    top: calc(2vh - 10px);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:20px;
    scale:75%;
}
#landing-menu img
{
    scale: 60%;
}
#landing-motto 
{
    position: absolute;
    top: 15vh;
    width: 100vw;
    height: 50px;
    font-size:30px;
    text-align: center;
}
#landing-motto span 
{
    display: inline;
    padding: 5px;
    cursor: pointer;
    border-radius:30px;
}
#landing-motto span:hover 
{
    background-color: rgba(255, 255, 255, 0.5);
}
#landing-note
{
    position: absolute;
    bottom: 2vh;
    width: 100vw;
    font-size: 20px;
    text-align: center;
}
#landing-social-container 
{
    position: absolute;
    left: 10vw;
    bottom: 5vh;
}
#landing-social-container button 
{
    margin-left: 5px;
    scale: 50%;
}
#landing-images-container 
{
    position: absolute;
    top: 30vh;
    left: 10vw;
    width: 80vw;
}
.landing-card 
{
    width: 200px;
    height: 150px;
    margin-top: 2vh;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius:20px;
    box-shadow: 5px 5px rgb(150, 150, 150);
}
.landing-card img
{
    display: inline-block;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 10%;
}

@media screen and (min-width:600px)
{
    #landing-title 
    {
        left: 2vw;
    }
    #landing-menu 
    {
        right: calc(2vw - 5px);
    }
    #landing-motto 
    {   
        left: 10vw;
        width: 80vw;
        font-size: 60px;
    }
    #landing-social-container 
    {
        left: 40vw;
    }
    #landing-social-container button 
    {
        margin-left: 10px;
        scale: 60%;
    }
    #landing-images-container 
    {
        top: 50vh;
    }
    .landing-card 
    {
        display: inline-block;
        margin-left: 3vw;
        width: 250px;
        height: 170px;
        border-radius:30px;
    }
}