@tailwind base;
@tailwind components;
@tailwind utilities;


:root 
{
    --color1: rgb(255, 255, 255);
    --color2: rgb(245, 245, 245);
    --color3: rgb(235, 235, 235);
    --color4: rgb(100, 100, 100);
    --color5: rgb(0, 0, 0);
}

body {
    overflow-x: hidden !important;
    background-color: var(--color1);
    color: var(--color5);
}

.user_settings 
{
    position: absolute;
    right: calc(10vw + 90px);
    top: calc(5vh + 15px);
    width: 30px !important;
    height: 30px !important;
}
.user_image 
{
    position: absolute;
    right: 10vw;
    top: 5vh;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
}

.slide-left{animation:slide-left 1s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-left{0%{transform:translateX(0)}100%{transform:translateX(-18vw)}}

.slide-right{animation:slide-right 1s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-right{0%{transform:translateX(-18vw)}100%{transform:translateX(0)}}

.rotate-180-cw{animation:rotate-180-cw 1s cubic-bezier(.25,.46,.45,.94) both}

@keyframes rotate-180-cw{0%{transform:rotate(0)}100%{transform:rotate(180deg)}}

.rotate-a180-cw{animation:rotate-180-cw 1s cubic-bezier(.25,.46,.45,.94) both}

@keyframes rotate-a180-cw{0%{transform:rotate(0)}100%{transform:rotate(-180deg)}}

.flip-scale-2-ver-right{animation:flip-scale-2-ver-right .5s linear both}

@keyframes flip-scale-2-ver-right{0%{transform:translateX(0) rotateY(0) scale(1);transform-origin:100% 50%}50%{transform:translateX(50%) rotateY(-90deg) scale(2);transform-origin:50% 50%}100%{transform:translateX(100%) rotateY(-180deg) scale(1);transform-origin:0 50%}}

.flip-scale-2-ver-left{animation:flip-scale-2-ver-left .5s linear both}

@keyframes flip-scale-2-ver-left{0%{transform:translateX(0) rotateY(0) scale(1);transform-origin:0 50%}50%{transform:translateX(-50%) rotateY(90deg) scale(2);transform-origin:50% 50%}100%{transform:translateX(-100%) rotateY(180deg) scale(1);transform-origin:100% 50%}}

.color-change-2x {
	animation: color-change-2x 2s linear infinite alternate both;
}

.bg-pan-left1 {
	animation: bg-pan-left1 8s both;
}
.bg-pan-left2 {
	animation: bg-pan-left2 8s both;
}

@keyframes color-change-2x {
    0% {
      background: #96ffe6;
    }
    50% {
      background: #00adb5;
    }
    100% {
        background: #96ffe6;
    }
  }

  @keyframes bg-pan-left1 {
    0% {
      background-color: white;
      background-position: 100% 50%;
    }
    100% {
      background-color: #96ffe6;
      background-position: 0% 50%;
      border-color: #00adb5;
    }
  }
  @keyframes bg-pan-left2 {
    0% {
      background-color: rgb(245, 245, 245);
      background-position: 100% 50%;
    }
    100% {
      background-color: #00adb5;
      background-position: 0% 50%;
    }
  }

  /* HTML: <div class="loader"></div> */
.loader {
    width: 200px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #00adb5;
    --_m: 
      conic-gradient(#0000 10%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 0.75s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}

  .user_circle_container 
  {
    margin-left: 3vw;
    margin-right: -1vw;
    width: 7vw !important;
    height: 18vh !important;
    border: 2px solid var(--color4);
    border-radius: 10px;
  }
.user_circle_container img {
    margin-left: calc(3.5vw - 30px) !important;
    width: 60px !important;
    height: 60px !important;
    max-width: 1000% !important;
}
.user_circle_container p {
    margin-left: 0 !important;
    width: 100% !important;
    height: 3vh !important;
    text-align: center !important;
}
.disabled {
    opacity: 0.5 !important;
}
.blurred 
{
    filter: blur(5px);
    pointer-events: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
@media screen and (max-width: 600px) {
    .user_circle_container {
        margin-left: 5vw !important;
        padding-top: 2vh;
        width: 25vw !important;
        height: 16vh !important;
    }
    .user_circle_container img {
        margin: 0px !important;
        margin-left: calc(12.5vw - 30px) !important;
        width: 60px !important;
        height: 60px !important;
    }
    .user_circle_container p {
        margin: 0px !important;
        margin-top: 1vh !important;
        width: 100% !important;
        height: 20px !important;
        font-size: 14px !important;
        text-align: center;
    }
    .user_post {
        position: relative !important;
    }
    .user_post_info {
        display: flex !important;
        flex-direction: column;
        position: relative;
        padding-bottom: 60px;
    }
    .user_post_image {
        position: relative !important;
        left: 0 !important;
        margin-left: 5vw !important;
        margin-top: 1vh !important;
        width: 80vw !important;
        height: 65vw !important;
    }
    .user_post_author1 {
        left: 5vw !important;
    }
    .user_post_author2, .user_post_author3 {
        left: calc(7vw + 60px) !important;
        font-size: 16px !important;
    }
    .user_post_settings {
        margin-left: -3vw !important;
        margin-top: 1.7vw !important;
        width: 20px !important;
        height: 20px !important;
    }
    .user_post_actions {
        position: absolute !important;
        left: 5.1vw !important;
        top: 46vh !important;
        width: 90vw !important;
    }
    .user_post_actions div {
        margin-left: 0vw !important;
        width: 20vw !important;
    }
    .problem_small {
        overflow-x: scroll;
    }
    .problem_small .icon {
        position: absolute !important;
        top: 1vh !important;
        width: 20px !important;
        height: 20px !important;
    }
    .problem_small .icon img {
        margin-left: 5% !important;
        margin-top: 10% !important;
    }
    .problem_small p {
        top: 0 !important;
        margin-top: 2.5vh !important;
        font-size: 13px;
        text-align: center;
    }
    .settings {
        position: relative;
        top: -10vh;
        left: 75%;
        width: 25%;
        height: 4vh;
    }
    .settings img {
        display: inline-block;
    }
    .settings p {
        display: block;
        width: 100%;
        font-size: 14px;
        text-align: center;
    }
    .settings p:hover {
        cursor: pointer;
        color: rgb(0,173,181);
        text-decoration: underline;
    }
    .user_post_schema {
        position: relative;
        top: 50px;
    }
    .user_post_info h1{
        padding-left: 20px;
        font-size: 20px;
    }
    .user_post_info h2 {
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 20px;
        font-size: 16px;
    }
    .user_post_info p {
        padding-left: 20px;
        font-size: 16px;
        color: rgb(170, 170, 170);
    }
}
.greater {
    width: 20% !important;
}
.problem_small {
    width: 61vw !important;
}
.problem_small p 
{
    min-width: 8%;
}
.user_circle_horizontal {
    max-height: 100px;
}
.user_circle_horizontal:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}
@media screen and (min-width: 600px) {
    .user_post {
        width: 60vw !important;
    }
    .user_post_info {
        display: flex !important;
        flex-direction: row;
    }
    .user_post_image {
        display: inline-block;
        left: 0 !important;
        margin-left: 5% !important;
        width: 60% !important;
        height: 330px!important;
    }
    .user_post_actions {
        left: -2% !important;
        top: 2vh !important;
    }
    .user_post_info {
        position: relative;
        margin-left: 0%;
        top: 0px;
        display: inline-block;
        width: 100%;
        height: 300px;
    }
    .user_post_info h1{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 23px;
    }
    .user_post_info h2 {
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }
    .user_post_info p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
        color: rgb(170, 170, 170);
    }
    .user_post_schema {
        position: absolute;
        top: -3vh;
        right: 0;
        width: 35%;
        height: 300px;
    }
    .settings {
        position: relative;
        top: -8vh;
        left: 75%;
        width: 30%;
        height: 4vh;
    }
    .settings img {
        display: inline-block;
    }
    .settings p {
        margin-right: 2vw;
        display: inline-block;
        font-size: 18px;
    }
    .settings p:hover {
        cursor: pointer;
        color: rgb(0,173,181);
        text-decoration: underline;
    }
}
.user_settings 
{
    cursor: pointer;
}