@media screen and (max-width: 600px)
{
    .create_post 
    {
        margin-left: 5vw;
        margin-top: 7vh;
        width: 90vw;
        border: 2px solid var(--color3);
        border-radius: 7.5px;
    }
    .create_post h1 
    {
        margin-top: 2vh;
        text-align: center;
        font-size: 3vh;
        font-weight: 500;
    }
    .create_post input 
    {
        padding-left: 20px;
        margin-left: 10vw;
        margin-top: 2vh;
        width: 70vw;
        border: 2px solid var(--color3);
        border-radius: 7.5px;
    }
    .create_post button 
    {
        width: 50vw;
        height: 6vh;
        margin-left: 20vw;
        margin-top: 3vh;
        margin-bottom: 3vh;
        background-color: var(--color3);
        border-radius: 7.5px;
        font-size: 3vh;
        font-weight: 500;
    }
}
@media screen and (min-width: 600px)
{
    
}