.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.dialog-content {
  background: var(--color2);
  border-radius: 8px;
  padding: 20px;
  max-width: 60vw; /* Max width for larger screens */
  width: 100%;
  max-height: 80vh; /* Ensures the dialog content doesn't exceed 80% of the viewport height */
  height: auto; /* Let the height adjust based on content */
  min-height: 50vh; /* Minimum height for smaller screens */
  overflow-y: auto; /* Adds a scrollbar if the content overflows */
  position: relative;
  box-sizing: border-box; /* Includes padding in the width/height calculation */
}

/* Header styling */
.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem; /* Responsive font size */
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

/* Close button styling */
.dialog-close {
  background: transparent;
  border: none;
  font-size: 1.5rem; /* Responsive font size */
  cursor: pointer;
}

/* Body styling */
.dialog-body {
  margin-top: 20px;
  overflow: auto; /* Ensures body content scrolls if needed */
}

/* Matrix item styling */
.matrix-item {
  max-width: 10vw;
  text-align: center;
}

/* Span styling within matrix item */
.matrix-item span {
  margin-left: 0px;
}

/* Code block styling */
.dialog-body .code {
  width: 100%; /* Ensure the code section uses the full width of the dialog */
  height: 40vh; /* Adjust the height based on available space */
  box-sizing: border-box; /* Includes padding in the width/height calculation */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .dialog-content {
    max-width: 95vw; /* Slightly narrower on smaller screens */
    min-height: 60vh; /* Increase minimum height on smaller screens for better readability */
  }

  .dialog-header {
    font-size: 1rem; /* Smaller font size for smaller screens */
  }

  .dialog-close {
    font-size: 1.25rem; /* Smaller close button font size for smaller screens */
  }

  .dialog-body .code {
    height: 50vh; /* Increase the height of the code section for smaller screens */
  }
  .matrix-item 
  {
    max-width: 30vw;
  }
}
