@media screen and (max-width: 600px)
{
    .card 
    {
        margin-left: 5vw;
        margin-top: 4vh;
        padding: 2vh;
        width: 90vw;
        border: 2px solid rgb(225, 225, 225);
        border-radius: 7.5px;
        text-align: justify;
    }
    .card h1 
    {
        padding-bottom: 2vh;
        font-size: 3vh;
        font-weight: 500;
    }
    .card h2 
    {
        padding-bottom: 2vh;
        font-size: 2vh;
        font-weight: 500;
    }
    .card p 
    {
        text-align: center;
    }
    .card button 
    {
        position: relative;
        top: -7vh;
        left: 48vw;
        width: 40%;
        height: 6vh;
        border: 2px solid rgb(225, 225, 225);
        border-radius: 7.5px;
    }
}
@media screen and (min-width: 600px)
{
    .body 
    {
        margin-top: 13vh;
    }
    .card 
    {
        display: inline-block;
        margin-left: 3vw;
        margin-top: 3vh;
        padding: 2vh;
        width: 25vw;
        height: 40vh;
        border: 2px solid rgb(225, 225, 225);
        border-radius: 7.5px;
        text-align: justify;
    }
    .card h1 
    {
        padding-bottom: 2vh;
        font-size: 3vh;
        font-weight: 500;
    }
    .card h2 
    {
        padding-bottom: 2vh;
        font-size: 2vh;
        font-weight: 500;
    }
    .card p 
    {
        text-align: center;
    }
    .card button 
    {
        position: relative;
        top: -7vh;
        left: 48vw;
        width: 40%;
        height: 6vh;
        border: 2px solid rgb(225, 225, 225);
        border-radius: 7.5px;
    }
    .card img 
    {
        height: 30vh;
    }
}